body {
    font-family: verdana;
}

table tbody th {
    text-align: left;
}

div.experimental {
    border: solid 1px red;
}

td.experimental, span.experimental {
    background: orange;
    border: solid 1px red;
}

div#relatedTunes {
    width: 220px;
    float: right;
    border: solid 1px black;
}

div #relatedTunes h2 {
    font-size: 1.2em;
}

div#relatedTunes tr.current {
    background: #ccc;
}

.tune-tau {
    text-align: right;
}

.bogus {
    color: red;
    font-weight: bold;
}

#crashes tr  {
    background: #eee;
    border: solid 1px white;
}

#failed em {
    font-weight: bold;
    color: red;
}

.searching {
    opacity: 0.2;
}

.noragrets {
    color: red;
    font-weight: bold;
}

#qtsearch {
    margin-bottom: 1em;
}

.searcherr {
    font-size: smaller;
    color: red;
}