<h2>Recent Crashes</h2>
<table class="display" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>OS</th>
      <th>Arch</th>
      <th>Tag</th>
      <th>Commit</th>
      <th>Comment</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="c in recentCrashes">
      <td title="{{c.timestamp}}">
        <a href="crash/{{c.Key}}">{{c.timestamp|relDate}}</a>
      </td>
      <td title="{{c.os}}">{{c.os_abbrev}}</td>
      <td title="{{c.buildInfo}}">{{c.arch}}</td>
      <td>{{c.gitTag}}</td>
      <td><a href="https://github.com/d-ronin/dRonin/commit/{{c.gitCommit}}">{{c.gitCommit}}</a></td>
      <td class="comment">{{c.comment}}</td>
      <td><a href="https://www.google.com/maps/@{{c.lat}},{{c.lon}},12z">{{c.city}},
          {{c.region}} {{c.country}}</a></td>
    </tr>
  </tbody>
</table>
