<h2>Recent Crashes</h2>
<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>OS</th>
      <th>Arch</th>
      <th>Branch</th>
      <th>Commit</th>
      <th>Build Info</th>
      <th>Comment</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="c in recentCrashes">
      <td title="{{c.timestamp}}"><a href="{{crashServer}}{{c.file}}">{{c.timestamp|relDate}}</a></td>
      <td>{{c.os}}</td>
      <td>{{c.arch}}</td>
      <td>{{c.branch}}</td>
      <td><a href="https://github.com/d-ronin/dRonin/commit/{{c.commit}}">{{c.commit}}</a></td>
      <td>{{c.buildInfo}}</td>
      <td class="comment">{{c.comment}}</td>
      <td><a href="https://www.google.com/maps/@{{c.lat}},{{c.lon}},12z">{{c.city}},
          {{c.region}} {{c.country}}</a></td>
    </tr>
  </tbody>
</table>
