<link rel="stylesheet" href="/static/stylesheets/crash.css">

<h2>Crash Details</h2>

<table>
  <tr>
    <th>Where</th>
    <td>
      <a href="https://www.google.com/maps/@{{crash.lat}},{{crash.lon}},12z">{{crash.city}},
        {{crash.region}} {{crash.country}}</a>
    </td>
  </tr>
  <tr>
    <th>When</th>
    <td>{{crash.timestamp}} ({{crash.timestamp|relDate}})</td>
  </tr>
  <tr>
    <th>OS</th>
    <td>{{crash.os}} / {{crash.buildInfo}}</td>
  </tr>
  <tr>
    <th>Version</th>
    <td>
      <a href="https://github.com/d-ronin/dRonin/commit/{{crash.gitCommit}}">{{crash.gitCommit}}</a>
      <span ng-show="crash.gitTag"> tag: {{crash.gitTag}}</span>
      <span ng-show="crash.gitBranch"> branch: {{crash.gitBranch}}</span>
      <span ng-show="crash.dirty"> (dirty tree)</span>
    </td>
  </tr>
</table>

<h2>User Comment</h2>

<p>{{crash.comment}}</p>

<h2 ng-show="trace">Stack Trace</h2>

<div ng-show="trace" class="trace">
  <div ng-repeat="thread in trace.threads | orderBy:sortThreads" class="thread" id="thread-{{thread.thread}}">
    <h2>Thread {{thread.thread}}</h2>
    <div ng-if="trace.crash.thread == thread.thread" class="crashed">
      <h3>Crashed!</h3>
      <p>Reason: {{trace.crash.reason}}<br />Address: 0x{{trace.crash.address.toString(16)}}</p>
    </div>
    <div ng-repeat="frame in thread.frames" class="frame" id="frame-{{frame.frame}}">
      <h3>Frame {{frame.frame}}: {{frame.module}}<span ng-show="frame.function">!{{frame.function}}</span></h3>
      Instruction at <span ng-if="frame.sourcefile">{{frame.sourcefile}}:{{frame.line}}</span><span ng-if="!frame.sourcefile">{{frame.module}}<span ng-if="frame.function">!{{frame.function}}</span></span> + 0x{{frame.offset.toString(16)}}
      <ng-prism class="language-cpp" ng-if="sourcecode[frame.sourcefile]">{{ sourcecode[frame.sourcefile] }}</ng-prism>
      <a ng-if="sourcecode[frame.sourcefile]" href="https://github.com/d-ronin/dRonin/blob/{{trace.gitrevision}}/{{frame.sourcefile}}#L{{frame.line}}" class="sourcelink">View on GitHub</a>
    </div>
  </div>
</div>

<h2 ng-show="crash.file">Full Dump</h2>

<p ng-show="crash.file">
  <a href="{{crashServer}}{{crash.file}}">{{crash.file}}</a>
</p>
