<h2>Tune Search</h2>

<form name="tuneForm">
  <label>Query: <input name="input" size="120" ng-model="query" ng-change="search()"
                       ng-model-options="{debounce: {'default': 500}}"></label>
</form>

<p ng-if="error" class="searcherr">{{error.data}}</p>

<h3 ng-if="searching">Searching for <q>{{squery}}</q></h3>
<h3 ng-if="results && !searching">Search results
  for <q>{{rquery}}</q></h3>

<p class="noragrets" ng-if="!results && !searching">
  No results for <q>{{rquery}}</q>.
</p>

<table id="tune-results" ng-show="results" ng-class="{'searching': searching}">
  <thead>
    <tr>
      <th id="rt-timestamp">Latest Match</th>
      <th id="rt-board">Board</th>
      <th id="rt-loc">Where</th>
      <th id="rt-other">Tunes</td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="t in results | orderBy:'ts':true">
      <td title="{{t.ts}}"><a href="/at/tune/{{t.ID}}">{{t.ts|relDate}}</a></td>
      <td>{{t.board}}</td>
      <td><a href="https://www.google.com/maps/@{{t.geo.Lat}},{{t.geo.Lon}},12z">
          {{t.location}}</a></td>
      <td class="sr-other">
        <span ng-repeat-start="o in t.tunes | orderBy:'ts':true"></span>
        <a title="{{o.ts|relDate}} in {{o.location}}"
           href="/at/tune/{{o.ID}}"
           ng-class="{bogus: isBogusTau(t.tau/1000)}">{{o.tau/1000|tomillis}}ms</a>
        <span ng-repeat-end></span>
      </td>
    </tr>
  </tbody>
</table>
