<h1>dRonin Autotown</h1>


<div id="relatedTunes" ng-show="related">
  <div><a href="/at/">[All Tunes]</a></div>
  <h2 title="Other tunes performed on this exact flight controller.">Also on this Board</h2>
  <table>
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Tau</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="t in related" ng-class="{current: t.Key == tune.Key}">
        <td title="{{t.Timestamp}}"><a href="/at/tune/{{t.Key}}">{{t.Timestamp|relDate}}</a></td>
        <td style="text-align: right" title="{{t.Tau}}" ng-class="{'bogus': isBogusTau(t.Tau)}">
          {{t.Tau|tomillis}} ms
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Tune Details for a {{tune.Board}} in a {{tune.Orig.vehicle.type}} at {{tune.Timestamp|relDate}}</h2>

<p>
  <tt>{{tune.Orig.vehicle.firmware.tag}}@<a
     href="https://github.com/d-ronin/dRonin/commit/{{tune.Orig.vehicle.firmware.commit}}"
                                            >{{tune.Orig.vehicle.firmware.commit}}</a></tt> on
  {{tune.Orig.vehicle.firmware.board}} reported at {{tune.Timestamp}}
  from <a href="https://www.google.com/maps/@{{tune.Lat}},{{tune.Lon}},12z">{{tune.City}},
    {{tune.Region}} {{tune.Country}}</a>.

</p>

<table>
  <tr><th>Type</th><td>{{tune.Orig.vehicle.type}}</td></tr>
  <tr><th>Size</th><td>{{tune.Orig.vehicle.size}}</td></tr>
  <tr><th>Motor</th><td>{{tune.Orig.vehicle.motor}}</td></tr>
  <tr><th>ESC</th><td>{{tune.Orig.vehicle.esc}}</td></tr>
  <tr><th>Props</th><td>{{tune.Orig.vehicle.props}}</td></tr>
  <tr><th>Battery</th><td>{{tune.Orig.vehicle.batteryCells}}S</td></tr>
  <tr><th>Weight</th><td>{{tune.Orig.vehicle.weight}}g</td></tr>
</table>

<h3>Observations</h3>

<blockquote>{{tune.Orig.userObservations}}</blockquote>

<h3>Config</h3>

<table>
  <tr><th>MPU Rate</th><td>{{hw.mpurate}}</td></tr>
  <tr><th>Gyro LPF</th><td>{{hw.gyrolpf}}</td></tr>
  <tr><th>Accel LPF</th><td>{{hw.accellpf}}</td></tr>
  <tr ng-show="bterm"><th>In/Out Curve Fit</th><td>{{bterm | number}}</td></th>
</table>

<h3>Identification</h3>

<table>
  <tr><th>Tau</th>
    <td title="{{tune.Orig.identification.tau}}"
        ng-class="{'bogus': isBogusTau(tune.Orig.identification.tau)}">
      {{tune.Orig.identification.tau|tomillis}} ms</td>
  </tr>
  <tr><th>Predicts</th><td>{{tune.Orig.rawSettings.SystemIdent.fields.NumAfPredicts}}</td></tr>
  <tr><th>Spilled</th><td>{{tune.Orig.rawSettings.SystemIdent.fields.NumSpilledPts}}</td></tr>
</table>

<table>
  <thead>
    <tr><td></td><th>Bias</th><th>Gain</th><th>Noise</th></tr>
  </thead>
  <tbody>
    <tr><th>Roll</th>
      <td>{{tune.Orig.identification.roll.bias}}</td>
      <td>{{tune.Orig.identification.roll.gain}}</td>
      <td>{{tune.Orig.identification.roll.noise}}</td>
    </tr>
    <tr><th>Pitch</th>
      <td>{{tune.Orig.identification.pitch.bias}}</td>
      <td>{{tune.Orig.identification.pitch.gain}}</td>
      <td>{{tune.Orig.identification.pitch.noise}}</td>
    </tr>
    <tr><th>Yaw</th>
      <td>{{tune.Orig.identification.yaw.bias}}</td>
      <td ng-class="{'bogus': tune.Orig.identification.yaw.gain < 6.3}">
        {{tune.Orig.identification.yaw.gain}}
      </td>
      <td>{{tune.Orig.identification.yaw.noise}}</td>
    </tr>
  </tbody>
</table>

<h3>Computed Values</h3>

<p>Damping: {{tune.Orig.tuning.parameters.damping}}.
  Noise sensitivity: {{tune.Orig.tuning.parameters.noiseSensitivity}}.
</p>

<table>
  <tr><th>Natural Frequency</th><td>{{tune.Orig.tuning.computed.naturalFrequency}}</td></tr>
  <tr><th>Derivative Cutoff</th><td>{{tune.Orig.tuning.computed.derivativeCutoff}}</td></tr>
</table>

<h4>Gains</h4>

<p>Inner and outer calculated loops as shown in the advanced
  stabilization tab.
  <span ng-show="tune.experimental">
    <span class="experimental">Experimental</span>
    yaw values have been computed.
  </span>
  <span ng-hide="tune.experimental">
    Experimental yaw values were not computed due to suspicious
    measurements (probably yaw beta too low, look for bold red stuff
    on the screen).
  </span>
</p>

<h5>Inner Loop</h5>

<table>
  <thead>
    <tr><td></td><th>Roll</th><th>Pitch</th><th>Yaw</th></tr>
  </thead>
  <tbody>
    <tr>
      <th>Proportional</th>
      <td>{{tune.Orig.tuning.computed.gains.roll.kp | number:6}}</td>
      <td>{{tune.Orig.tuning.computed.gains.pitch.kp | number:6}}</td>
      <td ng-class="{experimental: tune.experimental}">{{tune.experimental.yp | number:6}}</td>
    </tr>
    <tr>
      <th>Integral</th>
      <td>{{tune.Orig.tuning.computed.gains.roll.ki | number:6}}</td>
      <td>{{tune.Orig.tuning.computed.gains.pitch.ki | number:6}}</td>
      <td ng-class="{experimental: tune.experimental}">{{tune.experimental.yi | number:6}}</td>
    </tr>
    <tr>
      <th>Derivative</th>
      <td>{{tune.Orig.tuning.computed.gains.roll.kd | number:6}}</td>
      <td>{{tune.Orig.tuning.computed.gains.pitch.kd | number:6}}</td>
      <td ng-class="{experimental: tune.experimental}">{{tune.experimental.yd | number:6}}</td>
    </tr>
  </tbody>
</table>

<h5>Outer Loop</h5>

<table>
  <thead>
    <tr><td></td><th>Roll</th><th>Pitch</th><th>Yaw</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>Proportional</td>
      <td>{{tune.Orig.tuning.computed.gains.outer.kp | number:6}}</td>
      <td>{{tune.Orig.tuning.computed.gains.outer.kp| number:6}}</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Integral</td>
      <td ng-class="{experimental: tune.experimental}">{{tune.experimental.oki | number:6}}</td>
      <td ng-class="{experimental: tune.experimental}">{{tune.experimental.oki | number:6}}</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>

<hr/>
<a href="{{rawLink}}">Raw Data</a>

