<h1>dRonin Autotown</h1>

<div id="relatedTunes" ng-show="related">
  <h2 title="Other tunes performed on this exact flight controller.">Also on this Board</h2>
  <table>
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Tau</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="t in related" ng-class="{current: t.Key == tune.Key}">
        <td title="{{t.Timestamp}}"><a href="/at/tune/{{t.Key}}">{{t.Timestamp|relDate}}</a></td>
        <td style="text-align: right" title="{{t.Tau}}" ng-class="{'bogus': isBogusTau(t.Tau)}">
          {{t.Tau|tomillis}} ms
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Tune Details for a {{tune.Board}} in a {{tune.Orig.vehicle.type}} at {{tune.Timestamp|relDate}}</h2>

<p>
  <tt>{{tune.Orig.vehicle.firmware.tag}}@<a
     href="https://github.com/d-ronin/dRonin/commit/{{tune.Orig.vehicle.firmware.commit}}"
                                            >{{tune.Orig.vehicle.firmware.commit}}</a></tt> on
  {{tune.Orig.vehicle.firmware.board}} reported at {{tune.Timestamp}}
  from <a href="https://www.google.com/maps/@{{tune.Lat}},{{tune.Lon}},12z">{{tune.City}},
    {{tune.Region}} {{tune.Country}}</a>.

</p>

<table>
  <tr><th>Type</th><td>{{tune.Orig.vehicle.type}}</td></tr>
  <tr><th>Size</th><td>{{tune.Orig.vehicle.size}}</td></tr>
  <tr><th>Motor</th><td>{{tune.Orig.vehicle.motor}}</td></tr>
  <tr><th>ESC</th><td>{{tune.Orig.vehicle.esc}}</td></tr>
  <tr><th>Props</th><td>{{tune.Orig.vehicle.props}}</td></tr>
  <tr><th>Battery</th><td>{{tune.Orig.vehicle.batteryCells}}S</td></tr>
  <tr><th>Weight</th><td>{{tune.Orig.vehicle.weight}}g</td></tr>
</table>

<h3>Observations</h3>

<blockquote>{{tune.Orig.userObservations}}</blockquote>

<h3>Identification</h3>

<table>
  <tr><th>Tau</th>
    <td title="{{tune.Orig.identification.tau}}"
        ng-class="{'bogus': isBogusTau(tune.Orig.identification.tau)}">
      {{tune.Orig.identification.tau|tomillis}} ms</td>
  </tr>
  <tr><th>Predicts</th><td>{{tune.Orig.rawSettings.SystemIdent.fields.NumAfPredicts}}</td></tr>
  <tr><th>Spilled</th><td>{{tune.Orig.rawSettings.SystemIdent.fields.NumSpilledPts}}</td></tr>
</table>

<table>
  <thead>
    <tr><td></td><th>Bias</th><th>Gain</th><th>Noise</th></tr>
  </thead>
  <tbody>
    <tr><th>Roll</th>
      <td>{{tune.Orig.identification.roll.bias}}</td>
      <td>{{tune.Orig.identification.roll.gain}}</td>
      <td>{{tune.Orig.identification.roll.noise}}</td>
    </tr>
    <tr><th>Pitch</th>
      <td>{{tune.Orig.identification.pitch.bias}}</td>
      <td>{{tune.Orig.identification.pitch.gain}}</td>
      <td>{{tune.Orig.identification.pitch.noise}}</td>
    </tr>
    <tr><th>Yaw</th>
      <td>{{tune.Orig.identification.yaw.bias}}</td>
      <td ng-class="{'bogus': tune.Orig.identification.yaw.gain < 6.3}">
        {{tune.Orig.identification.yaw.gain}}
      </td>
      <td>{{tune.Orig.identification.yaw.noise}}</td>
    </tr>
  </tbody>
</table>

<h3>Computed Values</h3>

<p>Damping: {{tune.Orig.tuning.parameters.damping}}.
  Noise sensitivity: {{tune.Orig.tuning.parameters.noiseSensitivity}}.
</p>

<table>
  <tr><th>Natural Frequency</th><td>{{tune.Orig.tuning.computed.naturalFrequency}}</td></tr>
  <tr><th>Derivative Cutoff</th><td>{{tune.Orig.tuning.computed.derivativeCutoff}}</td></tr>
</table>

<h4>Gains</h4>

<table>
  <thead>
    <tr><td></td><th>kP</th><th>kI</th><th>kD</th></tr>
  </thead>
  <tbody>
    <tr>
      <th>Outer</th>
      <td>{{tune.Orig.tuning.computed.gains.outer.kp}}</td><td></td><td></td>
    </tr>
    <tr>
      <th>Roll</th>
      <td>{{tune.Orig.tuning.computed.gains.roll.kp}}</td>
      <td>{{tune.Orig.tuning.computed.gains.roll.ki}}</td>
      <td>{{tune.Orig.tuning.computed.gains.roll.kd}}</td>
    </tr>
    <tr>
      <th>Pitch</th>
      <td>{{tune.Orig.tuning.computed.gains.pitch.kp}}</td>
      <td>{{tune.Orig.tuning.computed.gains.pitch.ki}}</td>
      <td>{{tune.Orig.tuning.computed.gains.pitch.kd}}</td>
    </tr>
  </tbody>
</table>

<div class="experimental" ng-show="tune.experimental">
  <h4>Experimental Gain Computation</h4>
  <table>
    <tr>
      <th>Yaw P</th><td>{{tune.experimental.yp}}</td>
    </tr>
    <tr>
      <th>Yaw I</th><td>{{tune.experimental.yi}}</td>
    </tr>
    <tr>
      <th>Yaw D</th><td>{{tune.experimental.yd}}</td>
    </tr>
    <tr>
      <th>Outer kI</th><td>{{tune.experimental.oki}}</td>
    </tr>
  </table>
</div>

<hr/>
<a href="{{rawLink}}">Raw Data</a>

