<h1>dRonin Autotown</h1>

<h2>Tune Details for a {{tune.Board}} {{tune.Timestamp|relDate}}</h2>

<p>
  <tt>{{tune.Orig.vehicle.firmware.tag}}@<a
     href="https://github.com/d-ronin/dRonin/commit/{{tune.Orig.vehicle.firmware.commit}}"
                                            >{{tune.Orig.vehicle.firmware.commit}}</a></tt> on
  {{tune.Orig.vehicle.firmware.board}} reported at {{tune.Timestamp}}
  from <a href="https://www.google.com/maps/@{{tune.Lat}},{{tune.Lon}},12z">{{tune.City}},
    {{tune.Region}} {{tune.Country}}</a>.

</p>

<table>
  <tr><th style="text-align: left">Size</th><td>{{tune.Orig.vehicle.size}}</td></tr>
  <tr><th style="text-align: left">Motor</th><td>{{tune.Orig.vehicle.motor}}</td></tr>
  <tr><th style="text-align: left">Props</th><td>{{tune.Orig.vehicle.props}}</td></tr>
  <tr><th style="text-align: left">Battery</th><td>{{tune.Orig.vehicle.batteryCells}}S</td></tr>
  <tr><th style="text-align: left">Weight</th><td>{{tune.Orig.vehicle.weight}}g</td></tr>
</table>

<h3>Observations</h3>

<blockquote>{{tune.Orig.userObservations}}</blockquote>

<h3>Identification</h3>

<table>
  <tr><th>Tau</th><td>{{tune.Orig.identification.tau * 1000}} mS</td></tr>
</table>

<table>
  <thead>
    <tr><td></td><th>Bias</th><th>Gain</th><th>Noise</th></tr>
  </thead>
  <tbody>
    <tr><th>Roll</th>
      <td>{{tune.Orig.identification.roll.bias}}</td>
      <td>{{tune.Orig.identification.roll.gain}}</td>
      <td>{{tune.Orig.identification.roll.noise}}</td>
    </tr>
    <tr><th>Pitch</th>
      <td>{{tune.Orig.identification.pitch.bias}}</td>
      <td>{{tune.Orig.identification.pitch.gain}}</td>
      <td>{{tune.Orig.identification.pitch.noise}}</td>
    </tr>
  </tbody>
</table>

<h3>Computed Values</h3>

<table>
  <tr><th style="text-align: left">Natural Frequency</th><td>{{tune.Orig.tuning.computed.naturalFrequency}}</td></tr>
  <tr><th style="text-align: left">Derivative Cutoff</th><td>{{tune.Orig.tuning.computed.derivativeCutoff}}</td></tr>
</table>

<h4>Params</h4>

<table>
  <tr><th style="text-align: left">Damping</th><td>{{tune.Orig.tuning.parameters.damping}}</td></tr>
  <tr><th style="text-align: left">Noise Sensitivity</th><td>{{tune.Orig.tuning.parameters.noiseSensitivity}}</td></tr>
</table>

<h4>Gains</h4>

<table>
  <thead>
    <tr><td></td><th>kP</th><th>kI</th><th>kD</th></tr>
  </thead>
  <tbody>
    <tr>
      <th>Outer</th>
      <td>{{tune.Orig.tuning.computed.gains.Outer.kp}}</td><td></td><td></td>
    </tr>
    <tr>
      <th>Roll</th>
      <td>{{tune.Orig.tuning.computed.gains.roll.kp}}</td>
      <td>{{tune.Orig.tuning.computed.gains.roll.ki}}</td>
      <td>{{tune.Orig.tuning.computed.gains.roll.kd}}</td>
    </tr>
    <tr>
      <th>Pitch</th>
      <td>{{tune.Orig.tuning.computed.gains.pitch.kp}}</td>
      <td>{{tune.Orig.tuning.computed.gains.pitch.ki}}</td>
      <td>{{tune.Orig.tuning.computed.gains.pitch.kd}}</td>
    </tr>
  </tbody>
</table>
