<!doctype html>
<html lang="en" ng-app="autotown">
  <base href="/at/">
  <head>
    <title>dRonin Autotown</title>
    <link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css">
    <link rel="stylesheet" href="/static/stylesheets/prism.css">
  </head>

  <body>

    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="/static/lib/jquery.sparkline.min.js"></script>
    <script src="/static/lib/moment.min.js"></script>
    <script src="/static/lib/prism.min.js"></script>
    <script src="/static/js/autotown.js"></script>
  </body>
</html>
