<html>
  <head>
    <title>Submit Batch Job</title>
  </head>

  <body>
    <h1>batch process</h1>
    <div id="message">{{.Message}}</div>
    <form method="POST" action="/admin/submitMap">
      <select name="kind">
        {{ range .Kinds }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}
      </select>
      <br/>
      <input type="text" name="next" value="/batch/logkeys" />
      <br/>
      <input type="submit" value="Go" />
    </form>
    <hr/>
    <h2>Recomputing Stats</h2>
    <ol>
      <li>Remove all <tt>DailyCounts</tt>via <tt>/batch/destroy</tt></li>
      <li><tt>/batch/clearCountFlag</tt> in <tt>FoundController</tt></li>
      <li><tt>/batch/countUsage</tt> of <tt>FoundController</tt></li>
    </ol>
  </body>
</html>
